body {
	margin: 0;
	background-color: black;
	overflow-x: hidden;
}

.circles img {
	width: 145px;
	padding: 2rem;
}

div.circles {
	position: fixed;
	top: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
}

#image1 {
	position: absolute;
}

#image2 {
	position: absolute;
	margin-left: 20rem;
	margin-top: 20rem;
}

#image3 {
	position: absolute;
	margin-left: 30rem;
	margin-top: 2rem;
}

#image4 {
	position: absolute;
	margin-left: 40rem;
	margin-top: 20rem;
}

#image5 {
	position: absolute;
	margin-left: 80rem;
	margin-top: 28rem;
}

#image6 {
	position: absolute;
	margin-left: 80rem;
	margin-top: 5rem;
}

#image7 {
	position: absolute;
	margin-left: 0rem;
	margin-top: 9rem;
}

#image8 {
	position: absolute;
	margin-left: 10rem;
	margin-top: 2rem;
}

#image9 {
	position: absolute;
	margin-left: 70rem;
	margin-top: 1rem;
}

#image10 {
	position: absolute;
	margin-left: 64rem;
	margin-top: 4rem;
}

#image11 {
	position: absolute;
	margin-left: 20rem;
	margin-top: 38rem;
}

#image12 {
	position: absolute;
	margin-left: 40rem;
	margin-top: 11rem;
}

#image13 {
	position: absolute;
	margin-left: 40rem;
	margin-top: 2rem;
}

#image14 {
	position: absolute;
	margin-left: 72rem;
	margin-top: 14rem;
}

#image15 {
	position: absolute;
	margin-left: 70rem;
	margin-top: 20rem;
}

#image16 {
	position: absolute;
	margin-left: 7rem;
	margin-top: 39rem;
}

#image17 {
	position: absolute;
	margin-left: 70rem;
	margin-top: 43rem;
}

#image18 {
	position: absolute;
	margin-left: 50rem;
	margin-top: 20rem;
	-webkit-animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

#image19 {
	position: absolute;
	margin-left: 32rem;
	margin-top: 8rem;
}

#image20 {
	position: absolute;
	margin-left: 28rem;
	margin-top: 34rem;
}

#image21 {
	position: absolute;
	margin-left: 56rem;
	margin-top: 39rem;
}

#image22 {
	position: relative;
	margin-left: 12rem;
	margin-top: 40rem;
}

#image23 {
	position: relative;
	margin-left: 8rem;
	margin-top: 20rem;
	z-index: 0;
}

.linie {
	position: absolute;
	width: 25rem;
	height: 0.75rem;
	background-color: #FFA500;
	/*transform: skewX(30deg);
	transform-origin: left;*/
	margin-top: 40rem;	
}

.kreis {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3rem;
  background-color: #FFA500;
  margin-top: 39.75rem;
  margin-left: 24.75rem;
}

.gestrichelt {
	position: absolute;
	width: 93rem;
	height: 2rem;
	background-color: none;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 1rem, #d42b00
	 0.5rem, #d42b00 2rem);
	transform: skewX(30deg);
	transform-origin: top;
	margin-top: 12rem;
	
}

svg path {
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
  /*fill: */
}

.Ebenen {
	position: relative;
	max-width: none;
	width: 120%;
	margin-left: -10%;
	padding: 0;
	margin-top: 100vh;
}


.fixed {
	position: fixed;
	margin-top: none;
}


#Leute {

}

#Tram {

}


video {
	position: relative;
}


.demo-dot {
  -webkit-animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
  animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}

/*.demo-dot::after {
  content: '';
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50rem;
  background-color: #fff;
  -webkit-animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}*/

@-webkit-keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@-webkit-keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}



