body {
	margin: 0;
	background-color: black;
	overflow-x: hidden;
	font-family: raleway;
}

div a {
	position: fixed;
	right: 40px;
	top: 25px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-align: right;
	z-index: 99999;
}

.Auto {
	color: #ffff00;
	position: fixed;
	left: 40px;
	top: 25px;
}

.circles img {
	width: 145px;
	padding: 2rem;
}

div.circles {
	position: fixed;
	top: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
}

#image1 {
	position: absolute;
	margin-top: 3%;

}

#image2 {
	position: absolute;
	margin-left: 22%;
	margin-top: 22%;
}

#image3 {
	position: absolute;
	margin-left: 34%;
	margin-top: 2%;
}

#image4 {
	position: absolute;
	margin-left: 40%;
	margin-top: 23%;
}

#image5 {
	position: absolute;
	margin-left: 80%;
	margin-top: 28%;
}

#image6 {
	position: absolute;
	margin-left: 80%;
	margin-top: 5%;
}

#image7 {
	position: absolute;
	margin-left: 1%;
	margin-top: 10%;
}

#image8 {
	position: absolute;
	margin-left: 10%;
	margin-top: 15%;
	/*-webkit-animation: xAxis 0.5s infinite cubic-bezier(0.001, 0.001, 0.001, 0.001);
  animation: xAxis 0.5s infinite cubic-bezier(0.001, 0.001, 0.001, 0.001);*/
}

#image9 {
	position: absolute;
	margin-left: 70%;
	margin-top: 1%;
}

#image10 {
	position: absolute;
	margin-left: 64%;
	margin-top: 4%;
}

#image11 {
	position: absolute;
	margin-left: 20%;
	margin-top: 38%;
}

#image12 {
	position: absolute;
	margin-left: 40%;
	margin-top: 11%;
}

#image13 {
	position: absolute;
	margin-left: 45%;
	margin-top: 2%;
}

#image14 {
	position: absolute;
	margin-left: 72%;
	margin-top: 14%;
}

#image15 {
	position: absolute;
	margin-left: 70%;
	margin-top: 20%;
}

#image16 {
	position: absolute;
	margin-left: 4%;
	margin-top: 39%;
}

#image17 {
	position: absolute;
	margin-left: 70%;
	margin-top: 43%;
}

#image18 {
	position: absolute;
	margin-left: 50%;
	margin-top: 20%;
	-webkit-animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

#image19 {
	position: absolute;
	margin-left: 32%;
	margin-top: 8%;
}

#image20 {
	position: absolute;
	margin-left: 28%;
	margin-top: 34%;
}

#image21 {
	position: absolute;
	margin-left: 56%;
	margin-top: 39%;
}

#image22 {
	position: relative;
	margin-left: 12%;
	margin-top: 40%;
}

#image23 {
	position: relative;
	margin-left: 13%;
	margin-top: 2%;
	z-index: 0;
}

.linie {
	position: absolute;
	width: 25rem;
	height: 0.75rem;
	background-color: #FFA500;
	/*transform: skewX(30deg);
	transform-origin: left;*/
	margin-top: 40rem;	
}

.kreis {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3rem;
  background-color: #FFA500;
  margin-top: 39.75rem;
  margin-left: 24.75rem;
}

.gestrichelt {
	position: absolute;
	width: 93rem;
	height: 2rem;
	background-color: none;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 1rem, #d42b00
	 0.5rem, #d42b00 2rem);
	transform: skewX(30deg);
	transform-origin: top;
	margin-top: 12rem;
	
}

svg path {
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 0.2s;
  /*fill: */
}

.Ebenen {
	position: relative;
	max-width: none;
	width: 120%;
	margin-left: -10%;
	padding: 0;
	margin-top: 100vh;
}

.Leute {
	position: absolute;
	color: #FFA500;
	margin-left: 22%;
	margin-top: -50px;
}

.fixed {
	position: fixed;
	margin-top: 0;
}


#Leute2 {
	position: absolute;
}

video {
	margin: 50px;
	width: 100vw;
	height: 100vh;
}


h2 {
	position: relative;
	color: white;
	font-size: 11rem;
	margin: 0;
	line-height: 5rem;

}

h4 {
	position: relative;
	color: white;
	font-size: 2rem;
	margin: 0;
	line-height: 2rem;
}


iframe {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 100px;
	display: inline-block;
}



.demo-dot {
  -webkit-animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
  animation: xAxis 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}
 




/*.demo-dot::after {
  content: '';
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 50rem;
  background-color: #fff;
  -webkit-animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}*/

@-webkit-keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes yAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@-webkit-keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes xAxis {
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}



